# dependencies
/node_modules
es
package-lock.json
yar
on
yarn.lock
settings.json
dist.zip
dist.rar
settings.json
.re
.react-playground
.vscode
**/**/launch.json

# production
/dist

# misc
.DS_Store
re
npm-debug.log*
**/target
**/.svn
**/bin/
**/.classpath
**/.project
**/.settings
**/.springBean
**/*.iml
**/*.idea
**/.externalToolBuilders
**/test-output

/target
/.svn
/bin/
/.classpath
/.project
/.settings
/.springBean
/*.iml
/*.idea
/.externalToolBuilders
/test-output

**/gen-java

a

deploy.sh