.detail_count {
  margin-bottom: 0.2rem;
  padding: 0.3rem;
  padding-top: 0.1rem;
  background-color: #fff;
}
.detail_all_div {
  background: #fff;
  padding: 0.3rem;
}
.div_describe {
  min-height: 0.4rem;
  font-size: 0.28rem;
  line-height: 0.4rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
}
.div_describe .des_l {
  color: #999;
  min-width: 1.12rem;
}
.div_describe .des_r {
  color: #333;
  text-align: right;
  word-break: break-all;
  display: flex;
  justify-content: space-between;
}
.div_describe .wlButton{
  font-size: 0.24rem;
  padding: 0 0.1rem;
  border:1px solid #ee3f44;
  border-radius: 0.1rem;
  color: #ee3f44;
  margin-right: 0.2rem;
  white-space: nowrap;
}
.div_describe .des_r.highlight_font{
  color: #ee3f44;
}
.div_describe .copy_btn {
  float: right;
  line-height: 0.48rem;
  width: 1rem;
  text-align: center;
  border: 1px solid #ee3f44;
  border-radius: 0.1rem;
  color: #ee3f44;
  font-size: 0.24rem;
  margin-top: -0.1rem;
  background: #fff;
}
